@font-face {
    font-family: minecraft_pl_font;
    src: url("/minecraft_pl_font.woff");
  }
.bg{
    position: fixed;
}
html{
    background-color: #000000;
    margin: 0px;
}
.botAvatar{
    margin: 0%;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}
.mair { grid-area: mair; }
.icon {height: 1cm; justify-self: center; margin-top: 30px;}
.iconb {height: 1.5cm;}
.i1 { grid-area: i1;}
.i2 { grid-area: i2;}
.i3 { grid-area: i3;}
.i4 { grid-area: i4;}
.rest { grid-area: rest;}

.selected {border-bottom:5px solid white; border-radius: 10%;}

.place{
    display: block;
    height: 1cm;
    margin-bottom: 0%;
    padding: 0%;
}
.pimg{
    width: 0.4cm;
    border-radius: 100%;
    padding: 0%;
}

.hide{
    display: none;
}
.hide > * {
    display: none;
}

main{
    align-items: center;
    display: grid;
    grid-template-areas:
        'mair mair mair mair'
        'i1 i2 i3 i4'
        'rest rest rest rest';
}

.title { grid-area: title;}
.ows { grid-area: ow;}
.nts { grid-area: nt;}
.rank { 
    grid-area: rank; 
    font-size: 50%;
    margin: 0px;
    border: 3px solid white;
    border-radius: 10px;
    
}
.stockcnv{
    margin-top: 40px;
    align-self: center;
    height: 100%;
    border: 3px solid white;
    border-radius: 10px;
}
/*
i_coal
i_copper_ingot
i_gold_ingot
i_iron_ingot
i_quartz

i_lapis
i_redstone
i_diamond
i_emerald
i_netherite_ingot
*/
.rankingGrid{
    align-items: center;
    display: grid;
    grid-template-areas:
        'title title title title'
        'ow ow nt nt'
        'rank rank rank rank'
}
mini{
    font-size: 40%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: block;
}
.it1 { grid-area: it1;}
.it2 { grid-area: it2;}
.it3 { grid-area: it3;}
.it4 { grid-area: it4;}
.it5 { grid-area: it5;}
.it6 { grid-area: it6;}
.it7 { grid-area: it7;}
.it8 { grid-area: it8;}
.it9 { grid-area: it9;}
.it10 { grid-area: it10;}
.stockGrid{
    align-items: center;
    display: grid;
    grid-template-areas:
        'title title title title title'
        'it1 it2 it3 it4 it5'
        'it6 it7 it8 it9 it10'
        'rest rest rest rest rest'
}


.world { grid-area: world;}
.seed { grid-area: seed; background-color: transparent; color: white;border: 5px white solid;border-radius: 5px;text-align: center;font-family: minecraft_pl_font;font-size: 30px; width: 50%;justify-self: center;}
.worldGrid{
    align-items: center;
    display: grid;
    grid-template-areas:
        'title title'
        'ow nt'
        'seed seed'
        'world world'
}
.content { grid-area: content;}

.moreGrid{
    display: grid;
    grid-template-areas:
        'title title title title'
        'i1 i2 i3 i4'
        'content content content content'
}

.cont{
    margin: 0px;
    text-align: center;
    color: white;
    font-size: 300%;
    font-family: minecraft_pl_font;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    position: absolute;
    z-index: 2;
}
.btn{
    margin: 0px;
    display: block;
    background-color: #5865F2;
    border-radius: 15px;
}
.title{
    margin-top: 0%;
    margin: 0px;
    font-size: 170%;
}
a{
    margin: 0px;
    margin-left: 10px;
    color: white;
}


/*scroll bar hide*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}