@font-face {
    font-family: minecraft_pl_font;
    src: url("/minecraft_pl_font.woff");
  }
html{
    background-color: #363840;
    margin: 0px;
}
img{
    margin: 0%;
}
.links{
    font-size: 50%;
}
.cat{
    font-size: 150%;
}
.place{
    font-size: 110%;
}
.pimg{
    height: 6%;
    width: 6%;
    border-radius: 50%;
}
canvas{
    z-index: 1;
    top:0%;
    left: 0%;
    position: fixed;
    height: 100%;
    width: 100%;
}
.cont{
    margin: 0px;
    text-align: center;
    color: white;
    font-size: 300%;
    font-family: minecraft_pl_font;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    position: absolute;
    z-index: 2;
}
.btn{
    margin: 0px;
    display: block;
    background-color: #5865F2;
    border-radius: 15px;
}
.title{
    margin: 0px;
    font-size: 170%;
}
a{
    margin: 0px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
}